accounts:
  message: "Welcome to Eazybank accounts related local API's"
  contactDetails:
    name: "John Doe - Developer"
    email: "john@eazybank.com"
  onCallSupport:
      - (555) 555-1234
      - (555) 555-1345



